.yahoo-btn-cls button {
  font-size: 11px;
  box-sizing: border-box;
  border: 0px;
  background: transparent;
  box-shadow: none;
  border-radius: 3px;
}

.yahoo-btn-cls button:not(:disabled):hover {
  box-shadow:
    inset -1px 1px #fff,
    inset 1px 2px #fff,
    inset -2px 2px #fff,
    inset 2px -2px #fff !important;
}

.yahoo-btn-cls button:focused,
button:focus {
  outline: 1px dotted #fff !important;
  outline-offset: -4px !important;
}

.yahoo-btn-cls button:focused,
button:focus {
  box-shadow:
    inset -1px 1px #fff,
    inset 1px 2px #fff,
    inset -2px 2px #fff,
    inset 1px -1px #fff,
    inset 2px -2px #fff !important;
}

.yahoo-btn-cls button:focus {
  outline: 1px dotted #fff !important;
  outline-offset: -4px !important;
}

.yahoo-btn-cls button:focus {
  box-shadow:
    inset -1px 1px #fff,
    inset 1px 2px #fff,
    inset -2px 2px #fff,
    inset 1px -1px #fff,
    inset 2px -2px #fff !important;
}
